<div class="banner">
  <div class="container-bnr">
    <div class="search-box">
        <input type="text" class="search-input" placeholder="Search for a book...">

        <button class="search-button">
          <i class="fas fa-search"></i>
        </button>
    </div>
  </div>
</div>

 <%# <div class="b-container">
    <button type="button" class="btn btn-info">Search</button>
  </div> %>
