<div class="banner">
  <div class="container-bnr">
    <div class="search-box">
       <%= form_with url: books_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "search-input form-control",
          placeholder: "Search Books"
        %>
      <%= button_tag(class: "search-button")  do %>
        <i class="fas fa-search"></i>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
