<div class="bannero">
  <div class="slogan">
    <h1><span data-controller="typed-js"></span></h1>
    <div class="box-of-search">
       <%= form_with url: books_path, method: :get, class: "d-flex w-100" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "search-design form-control",
          placeholder: "Search Books"
        %>
      <%= button_tag(class: "search-button")  do %>
        <i class="fas fa-search"></i>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
