<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About Us</h6>
            <p class="text-justify">“Libri Comutatio” is the result of the final project from batch #946 of Le Wagon bootcamp. The students Carlos, Cyd, Hugo and Giovanna are its creators and responsible for its maintenance.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Sessions</h6>
            <ul class="footer-links">
              <li><a href="https://github.com/Priotto/libri-comutatio">Contact Us</a></li>
              <li><%= link_to "Browse Books", books_path, class: "nav-link" %></li>
              <li><%= link_to "My trades", trades_path, class: "dropdown-item" %></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Partners</h6>
            <ul class="footer-links">
              <li><a href="https://www.lewagon.com/">Le Wagon</a></li>
              <li><a href="https://www3.livrariacultura.com.br/">Livraria Cultura</a></li>
              <li><a href="https://www.amazon.com/">Amazon</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; All Rights Reserved by
         <a href="#"><i>Libri Comutatio</i></a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa-solid fa-book"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa-solid fa-paper-plane"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa-brands fa-github"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
