    <%# <div class="container">
        <div class="box-inner">
            <div class="book books-1 book-blur"></div>
            <div class="book books-2 book-blur"></div>
            <div class="book books-3 book-blur"></div>
        </div>
        <div class="box-out">
            <div class="book books-1"></div>
            <div class="book books-2"></div>
            <div class="book books-3"></div>
        </div>
    </div> %>
