<div>
<div class="container-card-home">
	<div class="card-home">
		<figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/I/61v0o2sfu2L.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">Why You Should Bring Your Dog To Work</h2>
				<p class="card-home__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
	</div>


	<div class="card-home">
		<figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/I/61v0o2sfu2L.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">HP LOVECRAFT - TALES OF HORROR</h2>
				<p class="card-home__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
	</div>

	<div class="card-home">
		<figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/I/61v0o2sfu2L.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">Why You Should Bring Your Dog To Work</h2>
				<p class="card-home__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
	</div>

  	<div class="card-home">
		<figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/I/61v0o2sfu2L.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">Why You Should Bring Your Dog To Work</h2>
				<p class="card-home__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
	</div>

  	<div class="card-home">
		<figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/I/61v0o2sfu2L.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">Why You Should Bring Your Dog To Work</h2>
				<p class="card-home__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
	</div>

  	<div class="card-home">
		<figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/I/61v0o2sfu2L.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">Why You Should Bring Your Dog To Work</h2>
				<p class="card-home__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
	</div>
</div>

<a id="bttn-back"> </a>
</div>
