<%= render "home_title"%>
<%= render "home_cards"%>
<div>
  <a class="arrow" id="bttn-back" href="#top" data-controller="scroll-to" data-scroll-to-offset-value="1000" data-scroll-to-behavior-value="smooth">  </a>
</div>
