<%= render "home_title"%>
<%= render "home_cards"%>
  <%# <div>
    <a id="bttn-back" href="#top" data-controller="scroll-to" data-scroll-to-offset-value="1000" data-scroll-to-behavior-value="smooth"> <img src="https://ri.kepler.com.br/assets/img/scroll-to-top.svg" class="toptop"> </a>
  </div> %>
