<h1 class="text-center mb-5">Book details</h1>


<div class="container">
  <%= render partial: "selected" %>

  <%= simple_form_for (@book) do |f| %>
    <%= f.input :description %>
    <%= f.button :submit, class:"btn-primary mb-3" %>
  <% end %>
</div>
