<div class="container text-center">
  <h1>Index do Book</h1>

  <% if @books.empty? %>
    <div>
      <p>O livro que você procura não está no nosso banco de dados</p>
    </div>
  <% else %>




    <div class="container d-flex flex-wrap">
      <%= render partial: "shared/card", collection: @books %>
    </div>

    <% @books.each do |book| %>
      <%= book.title %>
    <% end %>
  <% end %>


  <%= render "shared/card" %>
</div>
