<div class="container text-center">
  <h1 class="text-center">Index do Book</h1>

  <%= render "searchform", id: "search" %>

  <% if @books.empty? %>
    <div>
      <p>The book you are looking for is not in our database</p>
    </div>
  <% else %>
    <div class="container ">
      <div class="row ">
        <% @books.each do |book| %>
          <%= render book %>
        <% end %>
      </div>
  <% end %>
</div>
