<h1 class="text-center mt-5">Index do Book</h1>

<div class="">
  <div class="container ">
    <%= render "searchform", id: "search" %>
    <% if @books.empty? %>
      <div>
        <p>The book you are looking for is not in our database</p>
      </div>
    <% else %>

      <div class="row ">
          <%= render "card" %>
      </div>
    <% end %>
  </div>
</div>
