<h1 class="text-center">New de Book</h1>

<div class="container">
  <%= simple_form_for (@book) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
