.avatar-show {
  width: 40px;
  border-radius: 50%;
}

.avatar-large-show {
  width: 6.5rem;
  border-radius: 50%;
}

.avatar-bordered-show {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square-show {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.perfil-show{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0.5rem;

  h5{
    margin: 0;
    text-align: center;
    justify-content: center;
  }

  p{
    margin: 0;
  }
}

.verified-and-icons-show{
  display: flex;
  flex-direction: column;
}

.verified-and-icons-show hr{
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

.verified-show{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 0.6rem;
  margin-bottom: 1rem;
}

.verified-show p{
  font-size: 1rem;
}

.btn-page-book{
  background-color: #727F86;
  border-radius: 1rem;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-trade{
  background-color: #23414D;
  border-radius: 1rem;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  margin: 4px 2px;
  cursor: pointer;
}

.fa-whatsapp, .fa-envelope{
  font-size: 1.5rem;
}

.mt-5{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.card-book-allinfo-show{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  background: white;
  padding: 3rem 3rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0.5rem;
}

.image-associated-with-info{
  flex-grow: 1;
  h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
  }
}

.book-card-show{
  display: flex;
  flex-direction: row;
}
.book-info-show{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;

  p{
    margin-bottom: 0;
  }
}

.book-main-info-show{
  display: flex;
  flex-direction: column;

  .book-synopsis{
    text-align: justify;
    text-justify: inter-word;
  }
}

.publisher-and-year{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  p{
    margin: 0;
  }
}

.book-sentence-show{
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  gap: 1rem;
}

.book-description-show{
  display: flex;
  flex-direction: row;
}

.user-decisions{
height: 25%;
width: 100%;
background-color: white;
border-radius: 5px;
padding: 50px 50px;
}

.user-decisions-book-exist{
  display: flex;
  gap: 0.8rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upper-half-perfil-show{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
}

.icon-show{
  color: #C1BDBE;
  font-size: 24px;
}

.user-icon-show{
  font-size: 88px;
  color: #581B20;
}
