.banner{
  display: flex;
  height: calc(100vh - 64px);
  width: 100%;
  margin-top: 64px;
  background-image: image-url("bannerbg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 55%; //Subir a imagem
  font-family: $banner-font;
}

.slogan{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  font-family: $banner-font;

  h1{
    font-size: 5rem;
    font-weight: bold;
    color: #FFFEFE;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin-bottom: 2rem; //Reset de css
    font-family: $banner-font !important;
  }
}

.search-design{
  width: 100%;
  padding: 10px;
  border: 4px solid #581B20;
  border-radius:10px 0 0 10px ;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: #FFB201;
  background: #ffffff;
}

.box-of-search{
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-button{
  text-align: center;
  height: 58px;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 4px solid #581B20;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background: $white;
  font-size: 20px;
  border-left: 4px solid #581B20;
}

.fa-search{
  color: rgb(88,27,32);
}
