.btn-primary {
  color: #fff;
  margin-right: 10px;
}

.btn-danger {
  font-size: 17px;
}

.btn:hover {
  background-color: #C1BDBE;
}

.btn-rounded {
    border-radius: 0.5rem;
}

#buttoncard{
  color: #FFFEFE;
}
