.social-card-header{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 96px;
  font-family: yesevaone;
}
.social-card-header i {
  font-size: 32px;
  color:#FFF;
  font-family: yesevaone;
}

.card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.card-img-right {
  border-radius: 0 0.5rem 0.5rem 0;
}
