$desktop: 1024px;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $desktop) {
      @content;
		}
	}
}

.container-card-home {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 10px 0 80px;
}

.card-home {
	width: 335px;
	margin: 26px;
	background-color: #ffffff;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
    object-fit: cover;
  }

  &:hover {
		.card-home__caption {
			top: 50%;
			transform: translateY(-50%);
      color:#ffffff;
		}

		.card-home__image {
			transform: translateY(-10px);
		}

		.card-home__thumb {
			&::after {
				top: 0;
			}
		}

		.card-home__snippet {
			margin: 20px 0;
      color:#ffffff;
		}

    .card-home__title {
      color:#ffffff;
    }
	}

	&__thumb {
		position: relative;
		max-height: 400px;
		overflow: hidden;
    margin-bottom: 0;
		@include breakpoint(desktop) {
			max-height: 500px;
		}

		&::after {
			position: absolute;
			top: 0;
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255 ,255 , 0) 100%);
			transition: .3s;

			@include breakpoint(desktop) {
				top: calc(100% - 140px);
			}
		}
	}

	&__image {
		transition: .5s ease-in-out;
	}

	&__caption {
		position: absolute;
		top: 50%;
		z-index: 1;
		padding: 0 20px;
		color: #ffffff;
		transform: translateY(-50%);
		text-align: center;
		transition: .3s;

		@include breakpoint(desktop) {
			top: calc(100% - 110px);
			transform: unset;
		}
	}

	&__title {
		display: -webkit-box;
		max-height: 85px;
    overflow: hidden;
		font-size: 23px;
		line-height: 28px;
		text-shadow: 0px 1px 5px black;
		text-overflow: ellipsis;
    -webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	&__snippet {
		display: -webkit-box;
		max-height: 150px;
		margin: 20px 0;
		overflow: hidden;
		font-size: 16px;
		line-height: 20px;
		text-overflow: ellipsis;
		transition: .5s ease-in-out;
    -webkit-line-clamp: 5;
		-webkit-box-orient: vertical;

		@include breakpoint(desktop) {
			margin: 60px 0;
		}
	}

	&__button {
		display: inline-block;
		padding: 10px 20px;
		color: #ffffff;
		border: 1px solid #ffffff;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: none;
		transition: .3s;

		&:hover {
			// color: white;
			background-color: #ffffff;
		}
	}
}

.disclaimer {
	position: fixed;
	bottom: 0;
	left: 50%;
	z-index: 2;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 10px;
	background-color: #ffffff;
	transform: translateX(-50%);
	font-size: 14px;
	text-align: center;

	&__link {
		color: white;
		text-decoration: none;
	}
}

a .card-home {
  color: orange;
}

.cards-title{
  // position: relative;
  color: #4c423d;
}

.banner-title {
  background: linear-gradient(to bottom left, #0F2027, #203A43, #2C5364);
  // background: linear-gradient(90deg, rgba(4%,4%,47%,1) 0%, rgba(9, 9, 121,1) 35%, rgba(0,202,248,1) 100%);
  color: #C1BDBE;
  box-shadow: rgba(15, 32, 39, 0.4) -5px 5px;
  text-align: center;
  font-size: 2em;
  padding: 4px;
  border-radius: 10px;
  width:100%;
  height: 10%;
  font-family: $body-font;
  // overflow: hidden;
}
