.navbar {
  background-color: transparent;
  transition: 0.5s background-color ease;
  justify-content: space-between;
  background:#FFB200;
}

.navbar-white {
  background-color: rgb(5, 0, 0);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.nav-link{
  margin-right: 10px;
}

#li-bg{
  background: linear-gradient(to right, rgba(255, 178, 0, 1), rgba(254, 139, 0, 0.4));
}
