.navbar {
  transition: 0.5s background-color ease;
  justify-content: space-between;
  background: linear-gradient(to bottom left, #0F2027, #203A43, #2C5364);
}

.navbar-white {

  background: linear-gradient(156deg, rgba(88,27,32,1) 42%, rgba(33,51,56,1) 100%);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.nav-link{
  margin-right: 10px;
  font-size: 16px;
  color: #727F86;
  &:hover {
    color: #fff;
  }
}

.dropdown-menu {
  font-size: 16px;
  margin-right: 14px;
  padding-right: 78px;
  padding-left: 15px;
  color: #727F86;
}

.dropdown-menu a:hover
  {
    color: #FFFEFE;
    background: linear-gradient(to bottom left, rgba(15, 32, 39, 0.8), rgba(32, 58, 67, 0.5), rgba(44, 83, 100, 0.6));
    text-decoration:none;
    background: -webkit-linear-gradient(#eee, #C1BDBE33);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.dropdown-item {
  font-weight: 500;
  color: #FFFEFE;
}

.titulo-nav {
  // color: #277BC0;

  background: -webkit-linear-gradient(#eee, #C1BDBE33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#li-bg{
  // linear-gradient(to bottom left, #0F2027, #203A43, #2C5364);
  background: linear-gradient(to bottom left, rgba(15, 32, 39, 0.8), rgba(32, 58, 67, 0.5), rgba(44, 83, 100, 0.6));
}
