.trade {
  background-color: white;
  padding: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  width: 350px;
}

a {
  text-decoration: none;
  color: #C1BDBE;
}

a:hover{
  color: #727F86;
}

h1 {
  color: #727F86;
}

.trade-img {
  display: flex;
  justify-items: center;
  align-items: center;
}

.trade-info {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0 auto;
}

.trade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  padding: 16px;
  margin-bottom: 20px;
  justify-items: center;
}

button, input[type="submit"], input[type="reset"] {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background-color: transparent;
}
