.trade {
  background-color: white;
  padding: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  width: 350px;
  button, input[type="submit"], input[type="reset"] {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: transparent !important;
  }
  a {
    text-decoration: none;
    color: #C1BDBE;
  }

  a:hover{
    color: #727F86;
  }

  h1 {
    color: #23414D;
  }

  h3 {
    color: #23414D;
  }

}

h1 {
  color: #23414D;
  margin-bottom: 1.5rem;
}

.trade-img {
  display: flex;
  justify-items: center;
  align-items: center;
}

.trade-info {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0 auto;
}

.trade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 16px;
  margin-bottom: 20px;
  justify-items: center;
}

.cards-title{
  // position: relative;
  color: #4c423d;
}

.banner-title {
  background: linear-gradient(to bottom left, #0F2027, #203A43, #2C5364);
  color: #C1BDBE;
  box-shadow: rgba(15, 32, 39, 0.4) -5px 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2em;
  padding: 4px;
  border-radius: 10px;
  width:100%;
  height: 10%;
  font-family: $headers-font;
}
