/*
 *= require sweetalert
 *= require sweetalert/themes/twitter
*/
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/banner";

//Do NOT delete this:

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.margin-container {
  margin-top:100px;
}

button, input[type="submit"], input[type="reset"] {
	color: inherit;
	border: none;
	padding: 6px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
//
