<!-- Modal -->
<div class="modal fade" id="tradeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content capsule">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal Head</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if current_user.books.empty? %>
          <div>
            <h3>You have no books to trade</h3>
            <%= link_to "Create Book",  new_book_path, class: "btn-page-book" %>
          </div>
        <% else %>
          <div>
            <h3>Available Books</h3>
            <%= simple_form_for [@book, @transaction] do |f| %>
              <%= f.association :buyer_book, collection: current_user.books.available, label_method: :title %>
              <%= f.submit "Trade" , class: "btn-page-book" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
